html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  padding: 20px;
}

mat-card {
  max-width: 400px;
  margin: 20px auto;
}

mat-form-field {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}